.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginWrapper {
        width: 70%;
        height: 70%;
        display: flex;

        .loginLeft,
        .loginRight {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .loginLogo {
                font-size: 50px;
                font-weight: 800;
                color: #1775ee;
                margin-bottom: 10px;
            }

            .loginDesc {
                font-size: 16px;
            }



            .loginBox {
                padding: 20px;
                background-color: white;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                position: relative;

                .registerSucessMessage {
                    font-size: 16px;
                    color: rgb(35, 185, 35);
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .loginInput {
                    height: 50px;
                    border-radius: 10px;
                    border: 1px solid gray;
                    font-size: 18px;
                    padding-left: 20px;
                    margin-bottom: 20px;

                    &:focus {
                        outline: none;
                    }
                }

                .showPasswordIcon {
                    position: absolute;
                    top: 110px;
                    right: 40px;
                    cursor: pointer;
                }

                .errorMessage {
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: rgb(200, 50, 50);
                    font-weight: 500;
                    margin-bottom: 10px
                }

                .loginButton {
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    background-color: #1775ee;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                    margin-bottom: 10px;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }

                .loginForgot {
                    text-align: center;
                    cursor: pointer;
                    color: #1775ee;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .loginRegisterButton {
                    width: 60%;
                    align-self: center;
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    background-color: #42b72a;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}