.register {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .registerWrapper {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.register .registerWrapper .registerLeft,
.register .registerWrapper .registerRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register .registerWrapper .registerLeft .registerLogo,
.register .registerWrapper .registerRight .registerLogo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.register .registerWrapper .registerLeft .registerDesc,
.register .registerWrapper .registerRight .registerDesc {
  font-size: 16px;
}

.register .registerWrapper .registerLeft .registerBox,
.register .registerWrapper .registerRight .registerBox {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.register .registerWrapper .registerLeft .registerBox .registerInput,
.register .registerWrapper .registerRight .registerBox .registerInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.register .registerWrapper .registerLeft .registerBox .registerInput:focus,
.register .registerWrapper .registerRight .registerBox .registerInput:focus {
  outline: none;
}

.register .registerWrapper .registerLeft .registerBox .showPasswordIcon,
.register .registerWrapper .registerRight .registerBox .showPasswordIcon {
  position: absolute;
  right: 40px;
  top: 185px;
  color: black;
  cursor: pointer;
}

.register .registerWrapper .registerLeft .registerBox .passwordErrorMessage,
.register .registerWrapper .registerRight .registerBox .passwordErrorMessage {
  margin-bottom: 10px;
  font-size: 16px;
  color: #c83232;
  font-weight: 500;
  margin-bottom: 10px;
}

.register .registerWrapper .registerLeft .registerBox .registerButton,
.register .registerWrapper .registerRight .registerBox .registerButton {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
}

.register .registerWrapper .registerLeft .registerBox .registerLoginButton,
.register .registerWrapper .registerRight .registerBox .registerLoginButton {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/*# sourceMappingURL=register.css.map */